<%- include("../includes/head.ejs") %>

    <body>
        <%- include("../includes/navbar.ejs") %>
            <main>
                <% if(errorMessage) { %>
                    <div class="error">
                        <%= errorMessage %>
                    </div>
                    <% } %>

                        <form action="/auth/login" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="email" name="email" placeholder="ENTER EMAIL">
                            <input type="password" name="password" placeholder="ENTER PASSWORD">
                            <button type="submit">Login</button>
                        </form>
            </main>
            <%- include("../includes/end.ejs") %>