<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/navbar.ejs') %>
            <main>
                <% if (cartProducts.length === 0) { %>
                    <h1>CART IS EMPTY</h1>
                    <% } else { %>
                        <h1>USER CART</h1>
                        <h2>TOTAL PRICE:
                            <%= totalPrice %>
                        </h2>
                        <ul>
                            <% for (let i = 0; i < cartProducts.length; i++) { %>
                                <li>
                                    <img src="<%= cartProducts[i].productData.imageUrl %>" alt="<%= cartProducts[i].productData.imageUrl %>">
                                    <!-- <strong>ID:</strong> <%= cartProducts[i].productData.id %> | -->
                                    <strong>Title:</strong>
                                    <%= cartProducts[i].productData.title %> |
                                        <strong>Quantity:<%= cartProducts[i].productData.quantity %></strong>
                                        <!-- Plus Button -->
                                        <form action="/shop/cart-update-increment" method="POST">
                                            <input type="hidden" value="<%= cartProducts[i].productData.id %>" name="productId">
                                            <button type="submit">+</button>
                                        </form>

                                        <!-- Minus Button -->
                                        <form action="/shop/cart-update-decrement" method="POST">
                                            <input type="hidden" value="<%= cartProducts[i].productData.id %>" name="productId">
                                            <button type="submit">-</button>
                                        </form>
                                        <form action="/shop/cart-delete" method="POST">
                                            <input type="hidden" value="<%= cartProducts[i].productData.id %>" name="productId">
                                            <button type="submit">DELETE</button>
                                        </form>
                                </li>
                                <% } %>
                        </ul>

                        <form action="/shop/orders" method="POST">
                            <button type="submit">Order Now!</button>
                        </form>
                        <% } %>
            </main>
    </body>
    <%- include('../includes/end.ejs') %>