<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/navbar.ejs') %>
            <main>
                <h1>Orders and Items</h1>
                <% orders.forEach(order => { %>
                    <div class="order">
                        <h2>Order ID:
                            <%= order._id %>
                        </h2>
                        <p>Total Quantity:
                            <%= order.products.reduce((total, item) => total + item.quantity, 0) %>
                        </p>
                        <!-- You can add more details like order total, address, etc. here -->
                        <h3>Order Items</h3>
                        <% order.products.forEach(orderItem => { %>
                            <div class="order-item">
                                <img src="<%= orderItem.product.imageUrl %>" alt="Product Image">
                                <p>Product ID:
                                    <%= orderItem.product._id %>
                                </p>
                                <p>Quantity:
                                    <%= orderItem.quantity %>
                                </p>
                                <!-- You can display more details of the order item here -->
                            </div>
                            <% }); %>
                                <hr>
                    </div>
                    <% }); %>
            </main>
    </body>

    <%- include('../includes/end.ejs') %>